asn1crypto==0.24.0
certifi==2018.1.18
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
idna==2.6
mkl-fft==1.0.0
mkl-random==1.0.1
numpy==1.13.3
olefile==0.45.1
Pillow==4.4.0
pycparser==2.18
pyOpenSSL==17.5.0
PySocks==1.6.8
pytz==2017.3
pyzmq==17.0.0
requests==2.18.4
scipy==1.0.0
six==1.11.0
torch==0.3.1.post2
tornado==5.0.2
tqdm==4.19.9
urllib3==1.22
visdom==0.1.5
win-inet-pton==1.0.1
wincertstore==0.2
